html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(http://www.transparenttextures.com/patterns/small-crackle-bright.png);
    background-color: whitesmoke;
}


/*This is for the homepage*/

.home {
    display: flex;
    justify-content: center;
}

a,
a:visited {
    text-decoration: none;
    color: white
}

.header {
    color: white;
    background-color: black;
    padding: 0.5rem 1.2rem;
    display: flex;
    height: max-content;
    max-width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1;
}

.block-left {
    width: 50%;
}

.block-right {
    width: 50%;
    justify-content: right;
    display: flex;
}

.project-form {
    width: 100%;
}

.form {
    padding-top: 3rem;
    display: flex;
    justify-content: left;
}

.form div {
    padding: 0.5rem;
}

.details {
    width: 90%;
    justify-content: right;
    display: block;
}

textarea {
    vertical-align: middle;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    background-color: black;
    color: white;
    padding-bottom: 1px;
}


/*Styles for the project card component*/

.project-head {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

body.projects {
    justify-content: center;
}